Checks: 'clang-diagnostic-*,clang-analyzer-*,-clang-analyzer-alpha*,google-*,misc-*,readability-*,modernize-*,performance-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-bounds-pointer-arithmetic'
HeaderFilterRegex: '.*'
CheckOptions:
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.FunctionCase
    value:  lowerCase
  - key:    readability-identifier-naming.UnionCase
    value:  CamelCase
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.ConstantPrefix
    value:  'k'
  - key:    readability-identifier-naming.ConstantCase 
    value:  'CamelCase'
  - key:    cert-oop11-cpp.IncludeStyle
    value:  chromium
